@media ( max-width: 1440px )
    .container
        width: 1110px
@media ( max-width: 1155px )
    .container
        width: 768px
    .header
        &-menu
            height: 88px
            margin-bottom: 46px
        &__logo
            font-size: 30px
            line-height: 35px
        &-nav
            min-width: 480px
            &__link
                font-size: 14px
                line-height: 16px
        &-hero
            &__info
                max-width: 364px
            &__name
                font-size: 40px
                line-height: 47px
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 37px
            &__subscribe
                font-size: 24px
                line-height: 28px
                margin-bottom: 34px
            &__button
                width: 266px
                height: 55px
                font-size: 20px
                line-height: 23px
                margin-bottom: 0
            &__avatar
                max-width: 345px
                height: 345px
            &__img
                width: 345px
                height: 345px
                border-radius: 50%
    .about
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            color: $orange
        &__subtitle
            font-size: 24px
            line-height: 35px

    .education
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 60px
        &-blocks
            margin-bottom: 60px
        &-date
            &-block
                width: 238px
        &__date
            width: 238px
            height: 57px
            font-size: 30px
            line-height: 35px
        &-info
            &-block
                width: 465px
            &__period
                width: 465px
                height: 57px
                font-size: 30px
                line-height: 35px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 20px
                    line-height: 23px

@media ( max-width: 815px )
    .container
        width: 700px
    .header
        &-menu
            height: 85px
            margin-bottom: 50px
        &-nav
            min-width: 444px
        &-hero
            &__info
                max-width: 357px
            &__name
                font-size: 38px
                line-height: 45px
            &__subname
                font-size: 34px
                line-height: 40px
            &__subscribe
                font-size: 22px
                line-height: 26px
            &__button
                width: 266px
                height: 55px
                font-size: 18px
                line-height: 21px
                margin-bottom: 0
            &__avatar
                max-width: 310px
                height: 310px
            &__img
                width: 310px
                height: 310px
    .about
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 30px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 60px
        &-blocks
            margin-bottom: 60px
        &-date
            &-block
                width: 217px
        &__date
            width: 217px
            height: 57px
            font-size: 28px
            line-height: 33px
        &-info
            &-block
                width: 424px
            &__period
                width: 424px
                height: 57px
                font-size: 28px
                line-height: 33px
                margin-bottom: 8px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 20px
                    line-height: 23px

@media ( max-width: 740px )
    .container
        width: 630px
    .header
        &-menu
            height: 86px
            margin-bottom: 50px
        &__logo
            font-size: 28px
            line-height: 33px
        &-nav
            min-width: 396px
            &__link
                font-size: 12px
                line-height: 14px
        &-hero
            &__info
                max-width: 306px
            &__name
                font-size: 36px
                line-height: 42px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 25px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 25px
            &__button
                width: 240px
                height: 55px
                font-size: 16px
                line-height: 19px
            &__avatar
                max-width: 250px
                height: 250px
            &__img
                width: 250px
                height: 250px
    .about
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 20px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &-blocks
            margin-bottom: 30px
        &-date
            &-block
                width: 195px
        &__date
            width: 195px
            height: 57px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 381px
            &__period
                width: 381px
                height: 57px
                font-size: 26px
                line-height: 30px
                margin-bottom: 7px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

@media ( max-width: 660px )
    .container
        width: 590px
    .header
        &-menu
            height: 86px
            margin-bottom: 30px
        &__logo
            font-size: 27px
            line-height: 32px
        &-nav
            min-width: 365px
            &__link
                font-size: 11px
                line-height: 13px
        &-hero
            &__info
                max-width: 300px
            &__name
                font-size: 35px
                line-height: 41px
            &__subname
                font-size: 31px
                line-height: 36px
                margin-bottom: 27px
            &__subscribe
                font-size: 19px
                line-height: 22px
                margin-bottom: 27px
            &__button
                width: 220px
                height: 40px
                font-size: 15px
                line-height: 18px
            &__avatar
                max-width: 250px
                height: 250px
            &__img
                width: 250px
                height: 250px

    .about
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 30px
        &__subtitle
            font-size: 19px
            line-height: 26px

    .education
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 40px
        &-blocks
            margin-bottom: 40px
        &-date
            &-block
                width: 182px
        &__date
            width: 182px
            height: 52px
            background-color: $orange
            font-size: 25px
            line-height: 29px
        &-info
            &-block
                width: 357px
            &__period
                width: 357px
                height: 52px
                font-size: 25px
                line-height: 29px
                margin-bottom: 7px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 17px
                    line-height: 20px

@media ( max-width: 620px )
    .container
        width: 540px
    .header
        &-menu
            margin-top: 26px
            height: 47px
            margin-bottom: 35px
        &__logo
            margin-left: 3%
            font-size: 40px
            line-height: 47px
        &-nav
            min-width: 50px
            &__link
                display: none
        &-hero
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            &__info
                order: 1
                max-width: 500px
                display: flex
                flex-direction: column
            &__name
                font-size: 38px
                line-height: 45px
                text-align: center
                margin-bottom: 0
            &__subname
                font-size: 36px
                line-height: 42px
                text-align: center
                margin-bottom: 37px
            &__subscribe
                font-size: 26px
                line-height: 30px
                text-align: center
                margin-bottom: 37px
            &__button
                width: 318px
                height: 65px
                font-size: 24px
                line-height: 28px
                align-self: center
            &__avatar
                display: flex
                align-items: center
                max-width: 320px
                height: 320px
                margin-bottom: 35px
            &__img
                width: 320px
                height: 320px
                border-radius: 50%

    .about
        margin-top: 120px
        &__title
            font-size: 34px
            line-height: 40px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 120px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 70px
        &-wrap
            display: flex
            flex-direction: column
        &-blocks
            width: 100%
            display: flex
            align-items: center
            flex-direction: column
            margin-bottom: 70px
        &-date
            &-block
                width: 200px
                margin-bottom: 10px
        &__date
            width: 200px
            height: 50px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 380px
            &__period
                display: flex
                justify-content: center
                align-items: center
                width: 380px
                height: 50px
                font-size: 26px
                line-height: 30px
                margin-bottom: 10px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

@media ( max-width: 560px )
    .container
        width: 500px
    .header
        &-menu
            height: 47px
            margin-bottom: 35px
        &__logo
            font-size: 39px
            line-height: 45px
        &-nav
            min-width: 50px
        &-hero
            &__info
                max-width: 465px
            &__name
                font-size: 38px
                line-height: 45px
                margin-bottom: 0
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 37px
            &__subscribe
                font-size: 26px
                line-height: 30px
                margin-bottom: 37px
            &__button
                width: 295px
                height: 65px
                font-size: 24px
                line-height: 28px
            &__avatar
                display: flex
                align-items: center
                max-width: 300px
                height: 300px
                margin-bottom: 40px
            &__img
                width: 300px
                height: 300px
                border-radius: 50%

    .about
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 40px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 40px
@media ( max-width: 520px )
    .container
        width: 440px
    .header
        &-menu
            height: 47px
            margin-bottom: 35px
        &__logo
            font-size: 37px
            line-height: 47px
        &-nav
            min-width: 50px
        &-hero
            &__info
                max-width: 410px
            &__name
                font-size: 38px
                line-height: 45px
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 35px
            &__subscribe
                font-size: 26px
                line-height: 30px
                margin-bottom: 35px
            &__button
                width: 280px
                height: 64px
                font-size: 24px
                line-height: 28px
            &__avatar
                display: flex
                align-items: center
                max-width: 280px
                height: 280px
                margin-bottom: 35px
            &__img
                width: 280px
                height: 280px
                border-radius: 50%

@media ( max-width: 460px )
    .container
        width: 360px
    .header
        &-menu
            height: 35px
            margin-bottom: 35px
        &__logo
            font-size: 30px
            line-height: 35px
        &-nav
            min-width: 45px
        &-hero
            &__info
                max-width: 350px
            &__name
                font-size: 34px
                line-height: 40px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 30px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 30px
            &__button
                width: 268px
                height: 55px
                font-size: 18px
                line-height: 21px
            &__avatar
                max-width: 250px
                height: 250px
                margin-bottom: 40px
            &__img
                width: 250px
                height: 250px

    .about
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 20px
            line-height: 26px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 50px
        &-blocks
            margin-bottom: 50px
        &-date
            &-block
                width: 204px
                margin-bottom: 9px
        &__date
            width: 204px
            height: 52px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 356px
            &__period
                width: 356px
                height: 52px
                font-size: 26px
                line-height: 32px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

@media ( max-width: 375px )
    .container
        width: 325px
    .header
        &-menu
            height: 85px
            margin-top: 0
            margin-bottom: 10px
        &__logo
            font-size: 30px
            line-height: 35px
            margin-left: 2%
        &-nav
            min-width: 40px
        &-hero
            &__info
                max-width: 322px
            &__name
                font-size: 34px
                line-height: 40px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 30px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 30px
            &__button
                width: 243px
                height: 55px
                font-size: 18px
                line-height: 21px
            &__avatar
                max-width: 245px
                height: 245px
                margin-bottom: 40px
            &__img
                width: 245px
                height: 245px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 50px
        &-blocks
            margin-bottom: 50px
        &-date
            &-block
                width: 184px
        &__date
            width: 184px
            height: 52px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 323px
            &__period
                width: 323px
                height: 52px
                font-size: 26px
                line-height: 30px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

@media ( max-width: 340px )
    .container
        width: 300px
    .header
        &-menu
            height: 85px
            margin-bottom: 20px
        &__logo
            font-size: 28px
            line-height: 33px
        &-nav
            min-width: 37px
        &-hero
            &__info
                max-width: 300px
            &__name
                font-size: 32px
                line-height: 37px
            &__subname
                font-size: 28px
                line-height: 32px
                margin-bottom: 35px
            &__subscribe
                font-size: 18px
                line-height: 21px
                margin-bottom: 35px
            &__button
                width: 220px
                height: 54px
                font-size: 16px
                line-height: 19px
            &__avatar
                max-width: 220px
                height: 220px
            &__img
                width: 220px
                height: 220px

    .about
        margin-top: 100px
        &__title
            font-size: 28px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 18px
            line-height: 25px

    .education
        margin-top: 100px
        &__title
            font-size: 28px
            line-height: 33px
            margin-bottom: 30px
        &-blocks
            margin-bottom: 30px
        &-date
            &-block
                width: 170px
        &__date
            width: 170px
            height: 50px
            font-size: 25px
            line-height: 29px
        &-info
            &-block
                width: 300px
            &__period
                width: 300px
                height: 50px
                font-size: 25px
                line-height: 29px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 17px
                    line-height: 20px
