@media ( max-width: 1440px )
    .container
        width: 1110px
        margin: 0 auto
@media ( max-width: 1155px )
    .container
        width: 768px
    .header
        &-menu
            height: 88px
            margin-bottom: 46px
        &__logo
            font-size: 30px
            line-height: 35px
        &-nav
            min-width: 480px
            &__link
                font-size: 14px
                line-height: 16px
        &-hero
            &__info
                max-width: 364px
            &__name
                font-size: 40px
                line-height: 47px
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 37px
            &__subscribe
                font-size: 24px
                line-height: 28px
                margin-bottom: 34px
            &__button
                width: 266px
                height: 55px
                font-size: 20px
                line-height: 23px
                margin-bottom: 0
            &__avatar
                max-width: 345px
                height: 345px
            &__img
                width: 345px
                height: 345px
                border-radius: 50%
    .about
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            color: $orange
        &__subtitle
            font-size: 24px
            line-height: 35px

    .education
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 60px
        &-blocks
            margin-bottom: 60px
        &-date
            &-block
                width: 238px
        &__date
            width: 238px
            height: 57px
            font-size: 30px
            line-height: 35px
        &-info
            &-block
                width: 465px
            &__period
                width: 465px
                height: 57px
                font-size: 30px
                line-height: 35px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 20px
                    line-height: 23px

    .skills
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 16px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 80px
        &__double
            flex-direction: column
            width: 100%
            margin-bottom: 0
        &__block
            width: 100%
            margin-bottom: 80px
            &__indicate
                width: 100%
                margin-bottom: 30px
            &__subtitle
                width: 630px
                font-size: 26px
                line-height: 30px
                margin: 0 auto
        &__name
            font-size: 32px
            line-height: 37px
        &__line
            position: relative
            width: 430px
            height: 20px
            background-color: grey
            border-radius: 10px
        &__percent
            font-size: 32px
            line-height: 37px
    .portfolio
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 30px
            line-height: 35px
            margin-bottom: 70px
        &-info
            display: flex
            flex-direction: column
        &__img
            max-width: 550px
        &__description
            margin-top: 45px
            max-width: 755px
            font-size: 28px
            line-height: 33px

    .container
        &-contact
            padding: 80px 0
    .contact
        width: 768px
        margin: 0 auto
        margin-top: 100px
        background: #1A1728
        border-radius: 12px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 10px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 80px
        &-form
            width: 450px
            margin: 0 auto
        &__message
            margin-bottom: 60px
            &__textarea
                height: 143px
                min-height: 50px
                max-height: 200px
        &__button
            width: 366px
            height: 60px
    .input
        &-wrap
            width: 100%
            display: flex
            flex-direction: column
            margin-bottom: 30px
        &-block
            width: 100%
            height: 41px
            padding-bottom: 30px

@media ( max-width: 815px )
    .container
        width: 700px
    .header
        &-menu
            height: 85px
            margin-bottom: 50px
        &-nav
            min-width: 444px
        &-hero
            &__info
                max-width: 357px
            &__name
                font-size: 38px
                line-height: 45px
            &__subname
                font-size: 34px
                line-height: 40px
            &__subscribe
                font-size: 22px
                line-height: 26px
            &__button
                width: 266px
                height: 55px
                font-size: 18px
                line-height: 21px
                margin-bottom: 0
            &__avatar
                max-width: 310px
                height: 310px
            &__img
                width: 310px
                height: 310px
    .about
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 30px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 60px
        &-blocks
            margin-bottom: 60px
        &-date
            &-block
                width: 217px
        &__date
            width: 217px
            height: 57px
            font-size: 28px
            line-height: 33px
        &-info
            &-block
                width: 424px
            &__period
                width: 424px
                height: 57px
                font-size: 28px
                line-height: 33px
                margin-bottom: 8px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 20px
                    line-height: 23px

    .skills
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 18px
        &__subtitle
            font-size: 22px
            line-height: 26px
            margin-bottom: 80px
        &__double
            margin-bottom: 0
        &__block
            width: 700px
            &__indicate
                margin-bottom: 30px
            &__subtitle
                width: 600px
                font-size: 24px
                line-height: 28px
        &__name
            font-size: 30px
            line-height: 35px
        &__line
            width: 450px
        &__percent
            font-size: 30px
            line-height: 35px

    .portfolio
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 28px
            line-height: 33px
            margin-bottom: 70px
        &__img
            max-width: 550px
        &__description
            max-width: 600px
            font-size: 26px
            line-height: 30px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 700px
        margin: 0 auto
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 10px
        &__subtitle
            font-size: 22px
            line-height: 26px
            margin-bottom: 80px
        &-form
            width: 400px
            margin: 0 auto
        &__input
            width: 100%
            font-size: 29px
            line-height: 34px
        &__message
            &__textarea
                background: transparent
                width: 100%
                height: 165px
                min-height: 50px
                max-height: 250px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0px
        &-block
            width: 100%
            height: 41px
@media ( max-width: 740px )
    .container
        width: 630px
    .header
        &-menu
            height: 86px
            margin-bottom: 50px
        &__logo
            font-size: 28px
            line-height: 33px
        &-nav
            min-width: 396px
            &__link
                font-size: 12px
                line-height: 14px
        &-hero
            &__info
                max-width: 306px
            &__name
                font-size: 36px
                line-height: 42px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 25px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 25px
            &__button
                width: 240px
                height: 55px
                font-size: 16px
                line-height: 19px
            &__avatar
                max-width: 250px
                height: 250px
            &__img
                width: 250px
                height: 250px
    .about
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 20px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &-blocks
            margin-bottom: 30px
        &-date
            &-block
                width: 195px
        &__date
            width: 195px
            height: 57px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 381px
            &__period
                width: 381px
                height: 57px
                font-size: 26px
                line-height: 30px
                margin-bottom: 7px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

    .skills
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 20px
        &__subtitle
            font-size: 20px
            line-height: 23px
            margin-bottom: 90px
        &__double
            margin-bottom: 0
        &__block
            width: 630px
            &__indicate
                margin-bottom: 30px
            &__subtitle
                width: 550px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 28px
            line-height: 33px
        &__line
            width: 350px
            height: 18px
        &__percent
            font-weight: normal
            font-size: 28px
            line-height: 33px

    .portfolio
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 70px
        &__img
            max-width: 558px
        &__description
            max-width: 575px
            font-size: 24px
            line-height: 28px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 630px
        margin: 0 auto
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
        &__subtitle
            font-size: 20px
            line-height: 23px
            margin-bottom: 70px
        &-form
            width: 400px
            margin: 0 auto
        &__input
            width: 100%
            font-size: 28px
            line-height: 33px
            padding-bottom: 3px
            padding-left: 35px
            border-bottom: 2px solid #fff
            transition: ease .5s
            &::placeholder
                color: grey
            &:focus
                border-bottom: 2px solid $orange
        &__img
            position: absolute
            display: flex
            width: 27px
            height: 27px
            color: #fff
            padding-bottom: 5px
            &__top
                margin-top: 4px
        &__message
            margin-bottom: 60px
            &__textarea
                width: 100%
                height: 165px
                min-height: 50px
                max-height: 250px
                padding-left: 35px
                font-size: 28px
                line-height: 33px
        &__button
            width: 300px
            height: 60px
            font-size: 25px
            line-height: 29px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
@media ( max-width: 660px )
    .container
        width: 590px
    .header
        &-menu
            height: 86px
            margin-bottom: 30px
        &__logo
            font-size: 27px
            line-height: 32px
        &-nav
            min-width: 365px
            &__link
                font-size: 11px
                line-height: 13px
        &-hero
            &__info
                max-width: 300px
            &__name
                font-size: 35px
                line-height: 41px
            &__subname
                font-size: 31px
                line-height: 36px
                margin-bottom: 27px
            &__subscribe
                font-size: 19px
                line-height: 22px
                margin-bottom: 27px
            &__button
                width: 220px
                height: 40px
                font-size: 15px
                line-height: 18px
            &__avatar
                max-width: 250px
                height: 250px
            &__img
                width: 250px
                height: 250px

    .about
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 30px
        &__subtitle
            font-size: 19px
            line-height: 26px

    .education
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 40px
        &-blocks
            margin-bottom: 40px
        &-date
            &-block
                width: 182px
        &__date
            width: 182px
            height: 52px
            background-color: $orange
            font-size: 25px
            line-height: 29px
        &-info
            &-block
                width: 357px
            &__period
                width: 357px
                height: 52px
                font-size: 25px
                line-height: 29px
                margin-bottom: 7px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 17px
                    line-height: 20px

    .skills
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 20px
        &__subtitle
            font-size: 19px
            line-height: 22px
            margin-bottom: 80px
        &__double
            margin-bottom: 0
        &__block
            width: 590px
            &__indicate
                margin-bottom: 30px
            &__subtitle
                width: 510px
                font-size: 21px
                line-height: 24px
        &__name
            font-size: 27px
            line-height: 32px
        &__line
            width: 330px
            height: 17px
        &__percent
            font-size: 27px
            line-height: 32px
    .portfolio
        margin-top: 20px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 25px
            line-height: 29px
            margin-bottom: 70px
        &__img
            max-width: 522px
            margin-bottom: 50px
        &__description
            max-width: 540px
            font-size: 23px
            line-height: 27px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 590px
        margin: 0 auto
        margin-top: 90px
        &__title
            font-size: 29px
            line-height: 34px
            margin-bottom: 10px
        &__subtitle
            font-size: 19px
            line-height: 22px
            margin-bottom: 70px
        &-form
            width: 380px
            margin: 0 auto
        &__input
            font-size: 27px
            line-height: 32px
            padding-bottom: 3px
            padding-left: 35px
            border-bottom: 2px solid #fff
        &__img
            width: 25px
            height: 25px
            padding-bottom: 5px
            &__top
                margin-top: 4px
        &__message
            margin-bottom: 60px
            &__textarea
                width: 100%
                height: 165px
                min-height: 50px
                max-height: 250px
                padding-left: 35px
                font-size: 27px
                line-height: 32px
        &__button
            width: 350px
            height: 60px
            font-size: 24px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px

@media ( max-width: 620px )
    .container
        width: 540px
    .header
        &-menu
            margin-top: 26px
            height: 47px
            margin-bottom: 35px
        &__logo
            margin-left: 3%
            font-size: 40px
            line-height: 47px
        &-nav
            min-width: 50px
            &__link
                display: none
        &-hero
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            &__info
                order: 1
                max-width: 500px
                display: flex
                flex-direction: column
            &__name
                font-size: 38px
                line-height: 45px
                text-align: center
                margin-bottom: 0
            &__subname
                font-size: 36px
                line-height: 42px
                text-align: center
                margin-bottom: 37px
            &__subscribe
                font-size: 26px
                line-height: 30px
                text-align: center
                margin-bottom: 37px
            &__button
                width: 318px
                height: 65px
                font-size: 24px
                line-height: 28px
                align-self: center
            &__avatar
                display: flex
                align-items: center
                max-width: 320px
                height: 320px
                margin-bottom: 35px
            &__img
                width: 320px
                height: 320px
                border-radius: 50%

    .about
        margin-top: 120px
        &__title
            font-size: 34px
            line-height: 40px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 120px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 70px
        &-wrap
            display: flex
            flex-direction: column
        &-blocks
            width: 100%
            display: flex
            align-items: center
            flex-direction: column
            margin-bottom: 70px
        &-date
            &-block
                width: 200px
                margin-bottom: 10px
        &__date
            width: 200px
            height: 50px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 380px
            &__period
                display: flex
                justify-content: center
                align-items: center
                width: 380px
                height: 50px
                font-size: 26px
                line-height: 30px
                margin-bottom: 10px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

    .skills
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 16px
        &__subtitle
            font-size: 20px
            line-height: 24px
            margin-bottom: 75px
        &__double
            margin-bottom: 0
        &__block
            width: 540px
            &__indicate
                margin-bottom: 23px
            &__subtitle
                width: 470px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 26px
            line-height: 30px
        &__line
            width: 250px
            height: 17px
        &__percent
            font-size: 26px
            line-height: 30px

    .portfolio
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 70px
        &__img
            max-width: 522px
        &__description
            max-width: 500px
            font-size: 23px
            line-height: 27px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 540px
        margin: 0 auto
        margin-top: 80px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 10px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 70px
        &-form
            width: 380px
            margin: 0 auto
        &__input
            font-size: 27px
            line-height: 32px
            padding-bottom: 3px
            padding-left: 35px
        &__img
            width: 25px
            height: 25px
            padding-bottom: 5px
            &__top
                margin-top: 4.8px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 150px
                min-height: 50px
                max-height: 230px
                padding-left: 35px
                font-size: 27px
                line-height: 32px
        &__button
            width: 350px
            height: 56px
            font-size: 24px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px

@media ( max-width: 560px )
    .container
        width: 500px
    .header
        &-menu
            height: 47px
            margin-bottom: 35px
        &__logo
            font-size: 39px
            line-height: 45px
        &-nav
            min-width: 50px
        &-hero
            &__info
                max-width: 465px
            &__name
                font-size: 38px
                line-height: 45px
                margin-bottom: 0
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 37px
            &__subscribe
                font-size: 26px
                line-height: 30px
                margin-bottom: 37px
            &__button
                width: 295px
                height: 65px
                font-size: 24px
                line-height: 28px
            &__avatar
                display: flex
                align-items: center
                max-width: 300px
                height: 300px
                margin-bottom: 40px
            &__img
                width: 300px
                height: 300px
                border-radius: 50%

    .about
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 40px
        &__subtitle
            font-size: 22px
            line-height: 30px

    .education
        margin-top: 100px
        &__title
            font-size: 32px
            line-height: 37px
            margin-bottom: 40px

    .skills
        margin-top: 90px
        &__title
            font-size: 34px
            line-height: 40px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 70px
        &__double
            margin-bottom: 0
        &__block
            width: 500px
            &__indicate
                margin-bottom: 25px
            &__subtitle
                width: 440px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 26px
            line-height: 30px
        &__line
            height: 15px
        &__percent
            font-size: 26px
            line-height: 30px

    .portfolio
        margin-top: 90px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 50px
        &__img
            max-width: 435px
        &__description
            max-width: 415px
            font-size: 23px
            line-height: 27px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 500px
        margin-top: 100px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 10px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 70px
        &-form
            display: flex
            flex-direction: column
            width: 300px
            margin: 0 auto
        &__input
            font-size: 27px
            line-height: 32px
            padding-bottom: 3px
            padding-left: 35px
        &__img
            position: absolute
            display: flex
            width: 25px
            height: 25px
            padding-bottom: 6px
            &__top
                margin-top: 4px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 155px
                min-height: 50px
                max-height: 200px
                padding-left: 35px
                font-size: 27px
                line-height: 32px
        &__button
            width: 300px
            height: 50px
            font-size: 24px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
@media ( max-width: 520px )
    .container
        width: 440px
    .header
        &-menu
            height: 47px
            margin-bottom: 35px
        &__logo
            font-size: 37px
            line-height: 47px
        &-nav
            min-width: 50px
        &-hero
            &__info
                max-width: 410px
            &__name
                font-size: 38px
                line-height: 45px
            &__subname
                font-size: 36px
                line-height: 42px
                margin-bottom: 35px
            &__subscribe
                font-size: 26px
                line-height: 30px
                margin-bottom: 35px
            &__button
                width: 280px
                height: 64px
                font-size: 24px
                line-height: 28px
            &__avatar
                display: flex
                align-items: center
                max-width: 280px
                height: 280px
                margin-bottom: 35px
            &__img
                width: 280px
                height: 280px
                border-radius: 50%

    .skills
        margin-top: 80px
        &__title
            font-size: 34px
            line-height: 40px
        &__subtitle
            font-size: 24px
            line-height: 28px
            margin-bottom: 70px
        &__double
            margin-bottom: 0
        &__block
            width: 440px
            margin-bottom: 80px
            &__indicate
                margin-bottom: 25px
            &__subtitle
                width: 390px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 26px
            line-height: 30px
        &__line
            width: 220px
            height: 14px
        &__percent
            font-size: 26px
            line-height: 30px

    .portfolio
        margin-top: 80px
        &__title
            font-weight: normal
            font-size: 34px
            line-height: 40px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 70px
        &__img
            max-width: 435px
        &__description
            max-width: 365px
            font-size: 23px
            line-height: 27px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 440px
        margin: 0 auto
        margin-top: 70px
        background: #1A1728
        border-radius: 12px
        &__title
            font-size: 34px
            line-height: 40px
            margin-bottom: 10px
        &__subtitle
            font-size: 22px
            line-height: 26px
            max-width: 350px
            margin: 0 auto
            margin-bottom: 70px
        &-form
            width: 250px
            margin: 0 auto
        &__input
            width: 100%
            font-size: 25px
            line-height: 29px
            padding-bottom: 3px
            padding-left: 33px
        &__img
            width: 24px
            height: 24px
            padding-bottom: 7px
            &__top
                margin-top: 3.6px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 155px
                min-height: 50px
                max-height: 200px
                padding-left: 33px
                font-size: 25px
                line-height: 29px
                border: none
                border-bottom: 2px solid #fff
                color: $orange
                font-family: Roboto
                font-style: normal
                font-weight: normal
                &::placeholder
                    color: grey
                &:focus
                    border-bottom: 2px solid $orange
        &__button
            width: 250px
            height: 50px
            align-self: center
            font-weight: normal
            font-size: 24px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
@media ( max-width: 460px )
    .container
        width: 360px
    .header
        &-menu
            height: 35px
            margin-bottom: 35px
        &__logo
            font-size: 30px
            line-height: 35px
        &-nav
            min-width: 45px
        &-hero
            &__info
                max-width: 350px
            &__name
                font-size: 34px
                line-height: 40px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 30px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 30px
            &__button
                width: 268px
                height: 55px
                font-size: 18px
                line-height: 21px
            &__avatar
                max-width: 250px
                height: 250px
                margin-bottom: 40px
            &__img
                width: 250px
                height: 250px

    .about
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 20px
            line-height: 26px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 50px
        &-blocks
            margin-bottom: 50px
        &-date
            &-block
                width: 204px
                margin-bottom: 9px
        &__date
            width: 204px
            height: 52px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 356px
            &__period
                width: 356px
                height: 52px
                font-size: 26px
                line-height: 32px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

    .skills
        margin-top: 50px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 18px
        &__subtitle
            font-size: 20px
            line-height: 23px
            margin-bottom: 60px
        &__double
            margin-bottom: 0
        &__block
            width: 360px
            margin-bottom: 60px
            &__indicate
                margin-bottom: 25px
            &__subtitle
                width: 350px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 26px
            line-height: 30px
        &__line
            width: 150px
            height: 14px
        &__percent
            font-size: 26px
            line-height: 30px

    .portfolio
        margin-top: 50px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 50px
        &__img
            max-width: 360px
            margin-bottom: 50px
        &__description
            max-width: 355px
            font-size: 22px
            line-height: 26px
            margin-top: 0

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 360px
        margin: 0 auto
        margin-top: 70px
        border-radius: 12px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 10px
        &__subtitle
            font-size: 20px
            line-height: 26px
            margin-bottom: 70px
        &-form
            width: 300px
            margin: 0 auto
        &__input
            width: 100%
            font-size: 24px
            line-height: 28px
            padding-bottom: 3px
            padding-left: 32px
        &__img
            width: 24px
            height: 24px
            padding-bottom: 7px
            &__top
                margin-top: 3.2px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 150px
                min-height: 50px
                max-height: 200px
                padding-left: 32px
                font-size: 24px
                line-height: 28px
        &__button
            width: 300px
            height: 50px
            font-size: 24px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
@media ( max-width: 375px )
    .container
        width: 325px
    .header
        &-menu
            height: 85px
            margin-top: 0
            margin-bottom: 10px
        &__logo
            font-size: 30px
            line-height: 35px
            margin-left: 2%
        &-nav
            min-width: 40px
        &-hero
            &__info
                max-width: 322px
            &__name
                font-size: 34px
                line-height: 40px
            &__subname
                font-size: 32px
                line-height: 37px
                margin-bottom: 30px
            &__subscribe
                font-size: 20px
                line-height: 23px
                margin-bottom: 30px
            &__button
                width: 243px
                height: 55px
                font-size: 18px
                line-height: 21px
            &__avatar
                max-width: 245px
                height: 245px
                margin-bottom: 40px
            &__img
                width: 245px
                height: 245px

    .education
        margin-top: 100px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 50px
        &-blocks
            margin-bottom: 50px
        &-date
            &-block
                width: 184px
        &__date
            width: 184px
            height: 52px
            font-size: 26px
            line-height: 30px
        &-info
            &-block
                width: 323px
            &__period
                width: 323px
                height: 52px
                font-size: 26px
                line-height: 30px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 18px
                    line-height: 21px

    .skills
        margin-top: 50px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 20px
        &__subtitle
            font-size: 20px
            line-height: 23px
            margin-bottom: 60px
        &__double
            margin-bottom: 0
        &__block
            width: 325px
            margin-bottom: 50px
            &__indicate
                margin-bottom: 25px
            &__subtitle
                width: 300px
                font-size: 22px
                line-height: 26px
        &__name
            font-size: 26px
            line-height: 30px
        &__line
            width: 150px
            height: 14px
        &__percent
            font-size: 26px
            line-height: 30px

    .portfolio
        margin-top: 50px
        &__title
            font-size: 30px
            line-height: 35px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 26px
            line-height: 30px
            margin-bottom: 50px
        &__img
            max-width: 325px
        &__description
            max-width: 320px
            font-size: 22px
            line-height: 26px

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 325px
        margin: 0 auto
        margin-top: 70px
        border-radius: 12px
        &__title
            font-size: 24px
            line-height: 26px
            margin-bottom: 10px
        &__subtitle
            font-size: 16px
            line-height: 20px
            margin-bottom: 70px
        &-form
            width: 260px
            margin: 0 auto
        &__input
            font-size: 22px
            line-height: 28px
            padding-bottom: 3px
            padding-left: 30px
        &__img
            position: absolute
            display: flex
            width: 23px
            height: 23px
            padding-bottom: 7px
            &__top
                margin-top: 3px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 150px
                min-height: 50px
                max-height: 200px
                padding-left: 30px
                font-size: 22px
                line-height: 28px
        &__button
            width: 260px
            height: 50px
            font-size: 22px
            line-height: 28px
    .input
        &-wrap
            width: 100%
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
@media ( max-width: 340px )
    .container
        width: 300px
    .header
        &-menu
            height: 85px
            margin-bottom: 20px
        &__logo
            font-size: 28px
            line-height: 33px
        &-nav
            min-width: 37px
        &-hero
            &__info
                max-width: 300px
            &__name
                font-size: 32px
                line-height: 37px
            &__subname
                font-size: 28px
                line-height: 32px
                margin-bottom: 35px
            &__subscribe
                font-size: 18px
                line-height: 21px
                margin-bottom: 35px
            &__button
                width: 220px
                height: 54px
                font-size: 16px
                line-height: 19px
            &__avatar
                max-width: 220px
                height: 220px
            &__img
                width: 220px
                height: 220px

    .about
        margin-top: 100px
        &__title
            font-size: 28px
            line-height: 35px
            margin-bottom: 30px
        &__subtitle
            font-size: 18px
            line-height: 25px

    .education
        margin-top: 100px
        &__title
            font-size: 28px
            line-height: 33px
            margin-bottom: 30px
        &-blocks
            margin-bottom: 30px
        &-date
            &-block
                width: 170px
        &__date
            width: 170px
            height: 50px
            font-size: 25px
            line-height: 29px
        &-info
            &-block
                width: 300px
            &__period
                width: 300px
                height: 50px
                font-size: 25px
                line-height: 29px
                margin-bottom: 9px
            &__subscribe
                padding: 10px
                &-p
                    font-size: 17px
                    line-height: 20px

    .skills
        margin-top: 50px
        &__title
            font-size: 28px
            line-height: 33px
            margin-bottom: 20px
        &__subtitle
            font-size: 18px
            line-height: 21px
            margin-bottom: 60px
        &__double
            margin-bottom: 0
        &__block
            width: 300px
            &__indicate
                margin-bottom: 24px
            &__subtitle
                width: 290px
                font-size: 20px
                line-height: 23px
        &__name
            font-size: 25px
            line-height: 29px
        &__line
            width: 130px
            height: 13px
        &__percent
            font-weight: normal
            font-size: 25px
            line-height: 29px

    .portfolio
        margin-top: 50px
        &__title
            font-size: 28px
            line-height: 33px
            margin-bottom: 70px
        &-block
            margin-bottom: 70px
        &__name
            font-size: 25px
            line-height: 29px
            margin-bottom: 50px
        &__img
            max-width: 290px
        &__description
            max-width: 290px
            font-size: 20px
            line-height: 23px
            color: $white

    .container
        &-contact
            padding: 70px 0
    .contact
        width: 300px
        margin: 0 auto
        margin-top: 60px
        &__title
            font-size: 24px
            line-height: 28px
            margin-bottom: 10px
        &__subtitle
            width: 280px
            font-size: 16px
            line-height: 20px
            margin-bottom: 60px
        &-form
            display: flex
            flex-direction: column
            width: 240px
            margin: 0 auto
        &__input
            font-size: 20px
            line-height: 24px
            padding-bottom: 3px
            padding-left: 28px
        &__img
            position: absolute
            display: flex
            width: 22px
            height: 22px
            padding-bottom: 5.5px
            &__top
                margin-top: 1.5px
        &__message
            margin-bottom: 60px
            &__textarea
                height: 130px
                min-height: 50px
                max-height: 200px
                padding-left: 28px
                font-size: 20px
                line-height: 24px
        &__button
            width: 240px
            height: 40px
            align-self: center
            font-weight: normal
            font-size: 20px
            line-height: 24px
    .input
        &-wrap
            margin-bottom: 0
        &-block
            width: 100%
            height: 41px
            padding-bottom: 10px
